Repository google/generative-ai-docs, pull requests merged in 2023-12, with the labels that each got.

#182 [Release] Docs Agent version 0.1.6
  demos/palm/python/docs-agent/README.md
  demos/palm/python/docs-agent/chatbot/chatui.py
  demos/palm/python/docs-agent/chatbot/static/css/style.css
  demos/palm/python/docs-agent/chroma.py
  demos/palm/python/docs-agent/config.yaml
  demos/palm/python/docs-agent/docs/images/docs-agent-benchmarks-01.png
  demos/palm/python/docs-agent/docs/images/docs-agent-pre-processing-01.png
  demos/palm/python/docs-agent/docs_agent.py
  demos/palm/python/docs-agent/pyproject.toml
  demos/palm/python/docs-agent/scripts/markdown_to_plain_text.py
  demos/palm/python/docs-agent/scripts/populate_vector_database.py
Labels: status:awaiting review, component:demos, demos:docs-agent

#183 fixed documentation for docs-agent demo
  demos/palm/python/docs-agent/README.md
Labels: status:awaiting review, component:demos, demos:docs-agent

#186 Fix AQA notebook image
  site/en/docs/semantic_retriever.ipynb
Labels: status:awaiting review, component:documentation

#188 use base64 encoding
  templates/aistudio_gemini_prompt_chat_b64.ipynb
  templates/aistudio_gemini_prompt_freeform_b64.ipynb
Labels: status:awaiting review

#189 Remove keys
  templates/aistudio_gemini_prompt_chat_b64.ipynb
  templates/aistudio_gemini_prompt_freeform_b64.ipynb
Labels: status:awaiting review

#190 Add _b64 to base64 variable names
  templates/aistudio_gemini_prompt_chat_b64.ipynb
  templates/aistudio_gemini_prompt_freeform_b64.ipynb
Labels: status:awaiting review

#191 Remove extra cell
  templates/aistudio_gemini_prompt_freeform_b64.ipynb
Labels: status:awaiting review

#169 Add a sample Google Cloud Function script
  examples/palm/python/google_cloud_functions/main.py
Labels: status:awaiting review

#187 [Release] Docs Agent version 0.2.0
  demos/palm/python/docs-agent/README.md
  demos/palm/python/docs-agent/chatbot/chatui.py
  demos/palm/python/docs-agent/chatbot/templates/chatui/result.html
  demos/palm/python/docs-agent/chroma.py
  demos/palm/python/docs-agent/config.yaml
  demos/palm/python/docs-agent/docs_agent.py
  demos/palm/python/docs-agent/palm.py
  demos/palm/python/docs-agent/poetry.lock
  demos/palm/python/docs-agent/pyproject.toml
  demos/palm/python/docs-agent/scripts/populate_vector_database.py
  demos/palm/python/docs-agent/scripts/test_vector_database.py
Labels: status:awaiting review, component:demos, demos:docs-agent

#194 Move the Chroma guide out of site/, into examples/
  examples/gemini/python/vectordb_with_chroma/vectordb_with_chroma.ipynb
Labels: status:awaiting review
