Repository google/generative-ai-docs, pull requests merged in 2023-09, with the labels that each got.

#114 Print API args before executing.
  templates/makersuite_chat_prompt.ipynb
  templates/makersuite_text_prompt.ipynb
Labels: status:awaiting review, subcategory:general, category:other

#117 Convert to notebooks.
  site/en/tutorials/chat_node_quickstart.ipynb
  site/en/tutorials/text_node_quickstart.ipynb
Labels: status:awaiting review, category:documentation, subcategory:general

#116 [demos][python] Add a new Python PaLM demo: Docs Agent
  CODEOWNERS
  demos/palm/python/DELETEME
  demos/palm/python/docs-agent/CONTRIBUTING.md
  demos/palm/python/docs-agent/LICENSE
  demos/palm/python/docs-agent/README.md
  demos/palm/python/docs-agent/chatbot/__init__.py
  demos/palm/python/docs-agent/chatbot/chatui.py
  demos/palm/python/docs-agent/chatbot/launch.sh
  demos/palm/python/docs-agent/chatbot/static/css/chatbox.css
  demos/palm/python/docs-agent/chatbot/static/css/style.css
  demos/palm/python/docs-agent/chatbot/static/images/favicon.png
  demos/palm/python/docs-agent/chatbot/static/javascript/app.js
  demos/palm/python/docs-agent/chatbot/templates/chatui/base.html
  demos/palm/python/docs-agent/chatbot/templates/chatui/index.html
  demos/palm/python/docs-agent/chatbot/templates/chatui/result.html
  demos/palm/python/docs-agent/chroma.py
  demos/palm/python/docs-agent/condition.txt
  demos/palm/python/docs-agent/config.yaml
  demos/palm/python/docs-agent/docs/images/docs-agent-architecture-01.png
  demos/palm/python/docs-agent/docs/images/docs-agent-architecture-02.png
  demos/palm/python/docs-agent/docs/images/docs-agent-embeddings-01.png
  demos/palm/python/docs-agent/docs/images/docs-agent-embeddings-02.png
  demos/palm/python/docs-agent/docs/images/docs-agent-prompt-structure-01.png
  demos/palm/python/docs-agent/docs/images/docs-agent-ui-screenshot-01.png
  demos/palm/python/docs-agent/docs_agent.py
  demos/palm/python/docs-agent/hello_world.py
  demos/palm/python/docs-agent/palm.py
  demos/palm/python/docs-agent/poetry.lock
  demos/palm/python/docs-agent/pylintrc
  demos/palm/python/docs-agent/pyproject.toml
  demos/palm/python/docs-agent/run_console.py
  demos/palm/python/docs-agent/scripts/markdown_to_plain_text.py
  demos/palm/python/docs-agent/scripts/populate_vector_database.py
  demos/palm/python/docs-agent/scripts/read_config.py
  demos/palm/python/docs-agent/scripts/test_vector_database.py
  demos/palm/python/docs-agent/setup.py
  demos/palm/python/docs-agent/third_party/css/chatbox.css
  demos/palm/python/docs-agent/vector_stores/.gitkeep
  third_party/docs-agent
Labels: status:awaiting review, subcategory:examples, category:apps

#120 Create a PR template
  .github/pull_request_template.md
Labels: status:awaiting review, subcategory:general, category:other

#129 Add notebooks
  site/en/tutorials/tuning_quickstart_python.ipynb
  site/en/tutorials/tuning_quickstart_rest.ipynb
Labels: status:awaiting review
