Repository google/generative-ai-docs, pull requests merged in 2023-10, with the labels that each got.

#134 [Docs Agent][Updates] Version 0.1.1
  demos/palm/python/docs-agent/README.md
  demos/palm/python/docs-agent/chatbot/templates/chatui/result.html
  demos/palm/python/docs-agent/chroma.py
  demos/palm/python/docs-agent/poetry.lock
  demos/palm/python/docs-agent/pyproject.toml
  demos/palm/python/docs-agent/scripts/markdown_to_plain_text.py
  demos/palm/python/docs-agent/scripts/populate_vector_database.py
  demos/palm/python/docs-agent/scripts/test_vector_database.py
Labels: status:awaiting review, subcategory:examples, category:apps, demos:doc-agent

#132 Update stale.yml
  .github/workflows/stale.yml
Labels: subcategory:general, category:other

#146 [Docs Agent][Update] version 0.1.2
  demos/palm/python/docs-agent/README.md
  demos/palm/python/docs-agent/chatbot/chatui.py
  demos/palm/python/docs-agent/chatbot/templates/chatui/result.html
  demos/palm/python/docs-agent/condition.txt
  demos/palm/python/docs-agent/config.yaml
  demos/palm/python/docs-agent/docs_agent.py
  demos/palm/python/docs-agent/poetry.lock
  demos/palm/python/docs-agent/pyproject.toml
Labels: status:awaiting review, demos:docs-agent

#150 Update tuning_quickstart_python.ipynb
  site/en/tutorials/tuning_quickstart_python.ipynb
Labels: status:awaiting review

#149 Pipet Code Agent import
  .github/labeler.yml
  CODEOWNERS
  demos/palm/java/DELETEME
  demos/palm/node/pipet-code-agent/.eslintrc.json
  demos/palm/node/pipet-code-agent/.gitignore
  demos/palm/node/pipet-code-agent/.vscodeignore
  demos/palm/node/pipet-code-agent/CHANGELOG.md
  demos/palm/node/pipet-code-agent/CONTRIBUTING.md
  demos/palm/node/pipet-code-agent/LICENSE
  demos/palm/node/pipet-code-agent/README.md
  demos/palm/node/pipet-code-agent/package-lock.json
  demos/palm/node/pipet-code-agent/package.json
  demos/palm/node/pipet-code-agent/pipet-snippet.png
  demos/palm/node/pipet-code-agent/src/comments.ts
  demos/palm/node/pipet-code-agent/src/extension.ts
  demos/palm/node/pipet-code-agent/src/review.ts
  demos/palm/node/pipet-code-agent/tsconfig.json
Labels: status:awaiting review

#135 Fixups
  site/en/tutorials/tuning_quickstart_python.ipynb
Labels: status:awaiting user response, category:palm api, subcategory:python api

#151 Update curl_quickstart.ipynb
  site/en/tutorials/curl_quickstart.ipynb
Labels: status:awaiting review

#136 Use candidates[0] in makersuite template.
  templates/makersuite_chat_prompt.ipynb
  templates/makersuite_text_prompt.ipynb
Labels: status:awaiting review, category:palm api, subcategory:python api

#155 Limit embedding requests to text samples under 10k
  site/en/examples/clustering_with_embeddings.ipynb
Labels: status:awaiting review

#164 [Release] 0.1.3
  demos/palm/python/docs-agent/README.md
  demos/palm/python/docs-agent/apps_script/README.md
  demos/palm/python/docs-agent/apps_script/drive_to_markdown.gs
  demos/palm/python/docs-agent/apps_script/exportmd.gs
  demos/palm/python/docs-agent/apps_script/gmail_to_markdown.gs
  demos/palm/python/docs-agent/apps_script/helper_functions.gs
  demos/palm/python/docs-agent/apps_script/main.gs
  demos/palm/python/docs-agent/config.yaml
  demos/palm/python/docs-agent/docs/images/apps-script-screenshot-01.png
  demos/palm/python/docs-agent/poetry.lock
  demos/palm/python/docs-agent/pyproject.toml
  demos/palm/python/docs-agent/scripts/README.md
  demos/palm/python/docs-agent/scripts/markdown_to_plain_text.py
  demos/palm/python/docs-agent/scripts/populate_vector_database.py
  demos/palm/python/docs-agent/third_party/g2docsmd-html/LICENSE
  demos/palm/python/docs-agent/third_party/g2docsmd-html/exportmd.gs
  demos/palm/python/docs-agent/third_party/g2docsmd-html/patches/001-initial-changes-for-docs-agent.patch
Labels: status:awaiting review, demos:docs-agent

#167 [Release] Docs Agent version 0.1.4
  demos/palm/python/docs-agent/README.md
  demos/palm/python/docs-agent/chatbot/chatui.py
  demos/palm/python/docs-agent/chatbot/templates/chatui/result.html
  demos/palm/python/docs-agent/chroma.py
  demos/palm/python/docs-agent/config.yaml
  demos/palm/python/docs-agent/docs/images/docs-agent-embeddings-01.png
  demos/palm/python/docs-agent/docs/images/docs-agent-embeddings-02.png
  demos/palm/python/docs-agent/docs_agent.py
  demos/palm/python/docs-agent/pyproject.toml
  demos/palm/python/docs-agent/scripts/read_config.py
Labels: status:awaiting review, demos:docs-agent
