Repository google/generative-ai-docs, pull requests merged in 2023-08, with the labels that each got.

#106 Fix typos in example notebooks
  site/en/examples/chat_calculator.ipynb
  site/en/examples/text_calculator.ipynb
Labels: status:awaiting review

#103 Add package lock for Talking Character
  demos/palm/web/talking-character/package-lock.json
Labels: examples:talking-character, status:awaiting review, subcategory:examples, category:apps

#109 Automatically add and remove specific labels
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/remove-issue-labels.yml
  .github/workflows/remove-pr-labels.yml
Labels: status:awaiting review, subcategory:general, category:other
