Repository google/generative-ai-docs, pull requests merged in 2024-02, with the labels that each got.

#244 docs:proposal to be demo maintainer- TRAVEL-PLANNER
  DEMO_MAINTAINERS.md
Labels: status:awaiting review, component:demos

#246 [Release] Docs Agent version 0.2.1
  demos/palm/python/docs-agent/README.md
  demos/palm/python/docs-agent/aqa.py
  demos/palm/python/docs-agent/chatbot/chatui.py
  demos/palm/python/docs-agent/chatbot/static/css/style.css
  demos/palm/python/docs-agent/chatbot/static/javascript/app.js
  demos/palm/python/docs-agent/chatbot/templates/chatui/result.html
  demos/palm/python/docs-agent/config.yaml
  demos/palm/python/docs-agent/docs/whats-new.md
  demos/palm/python/docs-agent/docs_agent.py
  demos/palm/python/docs-agent/hello_world.py
  demos/palm/python/docs-agent/modules/chroma.py
  demos/palm/python/docs-agent/modules/palm.py
  demos/palm/python/docs-agent/poetry.lock
  demos/palm/python/docs-agent/pyproject.toml
  demos/palm/python/docs-agent/run_console.py
  demos/palm/python/docs-agent/scripts/README.md
  demos/palm/python/docs-agent/scripts/files_to_plain_text.py
  demos/palm/python/docs-agent/scripts/html_splitter.py
  demos/palm/python/docs-agent/scripts/markdown_splitter.py
  demos/palm/python/docs-agent/scripts/populate_vector_database.py
  demos/palm/python/docs-agent/scripts/read_config.py
  demos/palm/python/docs-agent/scripts/test_vector_database.py
  demos/palm/python/docs-agent/scripts/tokenCount.py
Labels: status:awaiting review, component:demos, demos:docs-agent

#251 Update DEMO_MAINTAINERS.md
  DEMO_MAINTAINERS.md
Labels: status:awaiting review, component:demos

#195 Update postprocess.js
  demos/palm/web/textfx/src/lib/postprocess.js
Labels: demos:text-fx, status:awaiting review, component:demos

#248 docs: proposal to be demo maintainer - LIST IT
  DEMO_MAINTAINERS.md
Labels: status:awaiting review

#259 [Release] Docs Agent version 0.2.2
  demos/palm/python/docs-agent/README.md
  demos/palm/python/docs-agent/aqa.py
  demos/palm/python/docs-agent/chatbot/chatui.py
  demos/palm/python/docs-agent/docs/whats-new.md
  demos/palm/python/docs-agent/docs_agent.py
  demos/palm/python/docs-agent/pyproject.toml
Labels: status:awaiting review, component:demos, demos:docs-agent

#262 Replace view-on text
  site/en/docs/semantic_retriever.ipynb
  site/en/examples/anomaly_detection.ipynb
  site/en/examples/chat_calculator.ipynb
  site/en/examples/clustering_with_embeddings.ipynb
  site/en/examples/doc_search_emb.ipynb
  site/en/examples/text_calculator.ipynb
  site/en/examples/train_text_classifier_embeddings.ipynb
  site/en/palm_docs/chat_node_quickstart.ipynb
  site/en/palm_docs/chat_quickstart.ipynb
  site/en/palm_docs/curl_quickstart.ipynb
  site/en/palm_docs/embeddings_quickstart.ipynb
  site/en/palm_docs/notebook_magic.ipynb
  site/en/palm_docs/text_node_quickstart.ipynb
  site/en/palm_docs/text_quickstart.ipynb
  site/en/palm_docs/tuning_quickstart_python.ipynb
  site/en/palm_docs/tuning_quickstart_rest.ipynb
  site/en/tutorials/function_calling_python_quickstart.ipynb
  site/en/tutorials/rest_quickstart.ipynb
Labels: status:awaiting review, component:documentation

#264 Update Kaggle link in distributed_tuning.ipynb
  site/en/gemma/docs/distributed_tuning.ipynb
Labels: status:awaiting review, component:documentation

#265 Update pip install instructions for keras and keras-nlp
  site/en/gemma/docs/lit_gemma.ipynb
Labels: status:awaiting review, component:documentation

#260 Add search reranking example using embeddings
  site/en/docs/search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:documentation

#268 Web link for context document updated
  examples/gemini/python/langchain/Gemini_LangChain_QA_Chroma_WebLoad.ipynb
Labels: status:awaiting review

#273 Update DEMO_MAINTAINERS.md
  DEMO_MAINTAINERS.md
Labels: status:awaiting review

#275 clean up keras install output ( more legible on github )
  site/en/gemma/docs/lora_tuning.ipynb
Labels: status:awaiting review, status:awaiting user response, component:documentation

#278 Sync docs from Google3 to GitHub
  site/en/gemma/docs/agile_classifiers.ipynb
  site/en/gemma/docs/distributed_tuning.ipynb
  site/en/gemma/docs/get_started.ipynb
  site/en/gemma/docs/lora_tuning.ipynb
Labels: status:awaiting review, component:documentation

#279 Add tuning tutorial.
  site/en/tutorials/tuning_quickstart_python.ipynb
Labels: status:awaiting review, component:documentation

#274 Update README.md
  README.md
Labels: status:awaiting review
