Repository google/generative-ai-docs, pull requests merged in 2024-03, with the labels that each got.

#280 Update function calling doc to use automatic function calling.
  site/en/tutorials/function_calling_python_quickstart.ipynb
Labels: status:awaiting review, component:documentation

#283 Add a structured data extraction tutorial
  site/en/tutorials/structured_data_extraction.ipynb
Labels: status:awaiting review, component:documentation

#286 Add JAX Gemma docs
  site/en/gemma/docs/jax_finetune.ipynb
  site/en/gemma/docs/jax_inference.ipynb
Labels: status:awaiting review, component:documentation

#288 Clarify wikipedia note in reranking guide
  site/en/docs/search_reranking_using_embeddings.ipynb
Labels: status:awaiting review, component:documentation

#291 Replay #281
  site/en/tutorials/function_calling_python_quickstart.ipynb
Labels: status:awaiting review, component:documentation

#287 Added a new ipynb notebook to show the Gemini integration with LlamaIndex and Chroma
  examples/gemini/python/llamaindex/Gemini_LlamaIndex_QA_Chroma_WebPageReader.ipynb
Labels: status:awaiting review

#293 syncing changes to Keras + Gemma get started
  site/en/gemma/docs/get_started.ipynb
Labels: status:awaiting review, component:documentation

#290 Minor tweaks to JAX Gemma docs
  site/en/gemma/docs/jax_finetune.ipynb
  site/en/gemma/docs/jax_inference.ipynb
Labels: status:awaiting review, component:documentation

#255 Add react_gemini_prompting.ipynb
  site/en/docs/react_gemini_prompting.ipynb
Labels: status:awaiting review, component:documentation

#304 [docs-agent] Clean up Docs Agent's README.md files.
  examples/gemini/python/docs-agent/README.md
  examples/gemini/python/docs-agent/docs_agent/interfaces/README.md
Labels: status:awaiting review

#308 Update distributed_tuning.ipynb
  site/en/gemma/docs/distributed_tuning.ipynb
Labels: status:awaiting review, component:documentation

#306 reverse order of import and backend steps
  site/en/gemma/docs/get_started.ipynb
Labels: status:awaiting review, component:documentation

#307 Migrate Pipet to use Gemini API
  demos/palm/node/pipet-code-agent/README.md
  demos/palm/node/pipet-code-agent/package-lock.json
  demos/palm/node/pipet-code-agent/package.json
  demos/palm/node/pipet-code-agent/src/comments.ts
  demos/palm/node/pipet-code-agent/src/review.ts
Labels: status:awaiting review, component:demos, demos:pipet

#309 Clean up some prose to align with style guide
  site/en/docs/react_gemini_prompting.ipynb
Labels: status:awaiting review, component:documentation

#310 Add tuning Quickstart for REST API
  site/en/tutorials/tuning_quickstart_rest.ipynb
Labels: status:awaiting review, component:documentation

#311 adding gemma + langchain tutorial
  site/en/gemma/docs/integrations/langchain.ipynb
Labels: status:awaiting review, component:documentation

#313 Add an example for Gemini integration with LangChain and Pinecone
  examples/gemini/python/langchain/Gemini_LangChain_QA_Pinecone_WebLoad.ipynb
Labels: status:awaiting review

#319 adding new Gemini quickstart Colab
  site/en/tutorials/quickstart_colab.ipynb
Labels: status:awaiting review, component:documentation

#320 add links to quickstart
  site/en/tutorials/quickstart_colab.ipynb
Labels: status:awaiting review, component:documentation

#322 Add output to Gemini API quickstart Colab
  site/en/tutorials/quickstart_colab.ipynb
Labels: status:awaiting review, component:documentation

#312 Move Pipet Code Agent example to examples/gemini
  .gitignore
  demos/palm/README.md
  examples/gemini/node/pipet-code-agent/.eslintrc.json
  examples/gemini/node/pipet-code-agent/.gitignore
  examples/gemini/node/pipet-code-agent/.vscode/extensions.json
  examples/gemini/node/pipet-code-agent/.vscode/launch.json
  examples/gemini/node/pipet-code-agent/.vscode/settings.json
  examples/gemini/node/pipet-code-agent/.vscode/tasks.json
  examples/gemini/node/pipet-code-agent/.vscodeignore
  examples/gemini/node/pipet-code-agent/CHANGELOG.md
  examples/gemini/node/pipet-code-agent/CONTRIBUTING.md
  examples/gemini/node/pipet-code-agent/LICENSE
  examples/gemini/node/pipet-code-agent/README.md
  examples/gemini/node/pipet-code-agent/package-lock.json
  examples/gemini/node/pipet-code-agent/package.json
  examples/gemini/node/pipet-code-agent/pipet-snippet.png
  examples/gemini/node/pipet-code-agent/src/comments.ts
  examples/gemini/node/pipet-code-agent/src/extension.ts
  examples/gemini/node/pipet-code-agent/src/review.ts
  examples/gemini/node/pipet-code-agent/tsconfig.json
Labels: status:awaiting review, component:demos

#328 Update CODEOWNERS for docs-agent
  CODEOWNERS
Labels: status:awaiting review

#330 Flutter Theme Agent initial commit
  examples/gemini/node/flutter_theme_agent/.eslintrc.json
  examples/gemini/node/flutter_theme_agent/.gitignore
  examples/gemini/node/flutter_theme_agent/.vscode/extensions.json
  examples/gemini/node/flutter_theme_agent/.vscode/launch.json
  examples/gemini/node/flutter_theme_agent/.vscode/settings.json
  examples/gemini/node/flutter_theme_agent/.vscode/tasks.json
  examples/gemini/node/flutter_theme_agent/.vscodeignore
  examples/gemini/node/flutter_theme_agent/CHANGELOG.md
  examples/gemini/node/flutter_theme_agent/CONTRIBUTING.md
  examples/gemini/node/flutter_theme_agent/LICENSE
  examples/gemini/node/flutter_theme_agent/README.md
  examples/gemini/node/flutter_theme_agent/flutter-theme-agent.png
  examples/gemini/node/flutter_theme_agent/package-lock.json
  examples/gemini/node/flutter_theme_agent/package.json
  examples/gemini/node/flutter_theme_agent/src/components/buttonstyle.ts
  examples/gemini/node/flutter_theme_agent/src/components/colorscheme.ts
  examples/gemini/node/flutter_theme_agent/src/components/component.ts
  examples/gemini/node/flutter_theme_agent/src/components/texttheme.ts
  examples/gemini/node/flutter_theme_agent/src/extension.ts
  examples/gemini/node/flutter_theme_agent/src/theme.ts
  examples/gemini/node/flutter_theme_agent/tsconfig.json
Labels: status:awaiting review

#331 Update doc_search_emb.ipynb
  site/en/examples/doc_search_emb.ipynb
Labels: status:awaiting review, component:documentation

#336 Update CODEOWNERS for flutter-theme-agent
  CODEOWNERS
Labels: status:awaiting review

#321 Fix streaming example
  site/en/tutorials/rest_quickstart.ipynb
Labels: status:awaiting review, component:documentation
