Repository google/generative-ai-docs, changes with the owners that CODEOWNERS names for each.
All owners: @google/generative-ai-admin, @nickvander, @rundong08, @Meggin, @kyolee415, @khanhnwin, @joefernandez, @shilpakancharla, @markmcd, @google/ai-studio-team, @google/generative-ai-site-team

CODEOWNERS:

* @google/generative-ai-admin

# demos/palm/web/talking-character
# demos/palm/web/mood-food
# demos/palm/web/travel-planner
# demos/palm/web/list-it
# demos/palm/web/quick-prompt
# demos/palm/web/textfx
examples/gemini/python/docs-agent @nickvander @rundong08 @Meggin @kyolee415
examples/gemini/node/flutter_theme_agent/ @khanhnwin @joefernandez
demos/palm/node/pipet-code-agent @joefernandez @shilpakancharla @markmcd

templates/ @google/ai-studio-team
site/ @google/generative-ai-site-team

update Keras hub package
  site/en/gemma/docs/paligemma/inference-with-keras.ipynb
Owners: @google/generative-ai-site-team

Created using Colab
  site/en/gemma/docs/codegemma/keras_quickstart.ipynb
Owners: @google/generative-ai-site-team

Update lora_tuning.ipynb (#582)
  site/en/gemma/docs/core/lora_tuning.ipynb
Owners: @google/generative-ai-site-team

update preset name
  site/en/gemma/docs/paligemma/inference-with-keras.ipynb
Owners: @google/generative-ai-site-team

Add a cell output so notebooks are not run during import
  site/en/gemma/docs/paligemma/inference-with-keras.ipynb
Owners: @google/generative-ai-site-team

update Keras hub package (#583)
  site/en/gemma/docs/paligemma/inference-with-keras.ipynb
Owners: @google/generative-ai-site-team

change from keras_nlp to keras_hub
  site/en/gemma/docs/codegemma/keras_quickstart.ipynb
Owners: @google/generative-ai-site-team

format notebook
  site/en/gemma/docs/codegemma/keras_quickstart.ipynb
Owners: @google/generative-ai-site-team

ECONOMIK MÓVIL s.r.l
  E-MOBI/ECONOMIK MÓVIL s.r.l
Owners: @google/generative-ai-admin

remove keras-nlp
  site/en/gemma/docs/codegemma/keras_quickstart.ipynb
Owners: @google/generative-ai-site-team

Update from keras-nlp to keras-hub
  site/en/gemma/docs/codegemma/code_assist_keras.ipynb
Owners: @google/generative-ai-site-team

Update huggingface_inference.ipynb
  site/en/gemma/docs/core/huggingface_inference.ipynb
Owners: @google/generative-ai-site-team

Update huggingface_inference.ipynb (#595)
  site/en/gemma/docs/core/huggingface_inference.ipynb
Owners: @google/generative-ai-site-team

Notebook updates for Gemma 3n
  site/en/gemma/docs/capabilities/vision/video-understanding.ipynb
  site/en/gemma/docs/core/huggingface_inference.ipynb
Owners: @google/generative-ai-site-team

Notebook updates for Gemma 3n (#596)
  site/en/gemma/docs/capabilities/vision/video-understanding.ipynb
  site/en/gemma/docs/core/huggingface_inference.ipynb
Owners: @google/generative-ai-site-team

Notebook update for Gemma 3n on HF - fix typo
  site/en/gemma/docs/core/huggingface_inference.ipynb
Owners: @google/generative-ai-site-team

Notebook update for Gemma 3n on HF - fix typo (#598)
  site/en/gemma/docs/core/huggingface_inference.ipynb
Owners: @google/generative-ai-site-team

docs(video-analyzer): add Video Analyzer application example
  site/en/gemini-api/docs/applications/video_analyzer.md
Owners: @google/generative-ai-site-team

Fixing Gemma PyTorch docs
  site/en/gemma/docs/core/pytorch_gemma.ipynb
Owners: @google/generative-ai-site-team

Fixing Gemma PyTorch docs (#601)
  site/en/gemma/docs/core/pytorch_gemma.ipynb
Owners: @google/generative-ai-site-team

Create huggingface_text_full_finetune.ipynb
  site/en/gemma/docs/core/huggingface_text_full_finetune.ipynb
Owners: @google/generative-ai-site-team

nbfmt
  site/en/gemma/docs/core/huggingface_text_full_finetune.ipynb
Owners: @google/generative-ai-site-team

fix
  site/en/gemma/docs/core/huggingface_text_full_finetune.ipynb
Owners: @google/generative-ai-site-team

Update huggingface_text_full_finetune.ipynb
  site/en/gemma/docs/core/huggingface_text_full_finetune.ipynb
Owners: @google/generative-ai-site-team

Create huggingface_text_full_finetune.ipynb (#603)
  site/en/gemma/docs/core/huggingface_text_full_finetune.ipynb
Owners: @google/generative-ai-site-team

Update keras-nlp to keras-hub (#584)
  site/en/gemma/docs/codegemma/keras_quickstart.ipynb
Owners: @google/generative-ai-site-team

add notebook
  site/en/gemma/docs/embeddinggemma/fine-tuning-embeddinggemma-with-sentence-transformers.ipynb
  site/en/gemma/docs/embeddinggemma/inference-embeddinggemma-with-sentence-transformers.ipynb
Owners: @google/generative-ai-site-team

new package url
  site/en/gemma/docs/embeddinggemma/fine-tuning-embeddinggemma-with-sentence-transformers.ipynb
  site/en/gemma/docs/embeddinggemma/inference-embeddinggemma-with-sentence-transformers.ipynb
Owners: @google/generative-ai-site-team

add notebook (#604)
  site/en/gemma/docs/embeddinggemma/fine-tuning-embeddinggemma-with-sentence-transformers.ipynb
  site/en/gemma/docs/embeddinggemma/inference-embeddinggemma-with-sentence-transformers.ipynb
Owners: @google/generative-ai-site-team

Minor typos in EmbeddingGemma MRL section
  site/en/gemma/docs/embeddinggemma/inference-embeddinggemma-with-sentence-transformers.ipynb
Owners: @google/generative-ai-site-team

Minor typos in EmbeddingGemma MRL section (#605)
  site/en/gemma/docs/embeddinggemma/inference-embeddinggemma-with-sentence-transformers.ipynb
Owners: @google/generative-ai-site-team

Create optipro
  optipro
Owners: @google/generative-ai-admin

fix prompt -> prompt_name
  site/en/gemma/docs/embeddinggemma/fine-tuning-embeddinggemma-with-sentence-transformers.ipynb
Owners: @google/generative-ai-site-team

fix prompt -> prompt_name (#608)
  site/en/gemma/docs/embeddinggemma/fine-tuning-embeddinggemma-with-sentence-transformers.ipynb
Owners: @google/generative-ai-site-team

fixes in docs-agent
  examples/gemini/python/docs-agent/docs/whats-new.md
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/templates/chatui-full/result.html
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/templates/chatui-widget-pro/result.html
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/templates/chatui-widget/result.html
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/templates/chatui/result.html
  examples/gemini/python/docs-agent/docs_agent/memory/logging.py
  examples/gemini/python/docs-agent/scripts/autocomplete.sh
  examples/gemini/python/docs-agent/tasks/prepare-podcast-from-dir.yaml
Owners: @nickvander, @rundong08, @Meggin, @kyolee415, @google/ai-studio-team

better prompt strings for flutter theme agent
  examples/gemini/node/flutter_theme_agent/src/components/component.ts
  examples/gemini/node/flutter_theme_agent/src/theme.ts
Owners: @khanhnwin, @joefernandez

fixes in docs-agent (#610)
  examples/gemini/python/docs-agent/docs/whats-new.md
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/templates/chatui-full/result.html
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/templates/chatui-widget-pro/result.html
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/templates/chatui-widget/result.html
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/templates/chatui/result.html
  examples/gemini/python/docs-agent/docs_agent/memory/logging.py
  examples/gemini/python/docs-agent/scripts/autocomplete.sh
  examples/gemini/python/docs-agent/tasks/prepare-podcast-from-dir.yaml
Owners: @nickvander, @rundong08, @Meggin, @kyolee415, @google/ai-studio-team

docs-agent fixes
  examples/gemini/python/docs-agent/docs/concepts.md
  examples/gemini/python/docs-agent/docs/create-a-new-task.md
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/chatui.py
  examples/gemini/python/docs-agent/docs_agent/interfaces/cli/cli_admin.py
  examples/gemini/python/docs-agent/docs_agent/interfaces/cli/cli_helpme.py
  examples/gemini/python/docs-agent/docs_agent/preprocess/splitters/fidl_splitter.py
  examples/gemini/python/docs-agent/docs_agent/preprocess/splitters/markdown_splitter.py
  examples/gemini/python/docs-agent/docs_agent/storage/google_semantic_retriever.py
  examples/gemini/python/docs-agent/docs_agent/utilities/config.py
  examples/gemini/python/docs-agent/scripts/extract_replace_image_alt_text.py
  examples/gemini/python/docs-agent/scripts/update_files_from_yaml.py
  examples/gemini/python/docs-agent/tasks/describe-images-and-replace.yaml
  examples/gemini/python/docs-agent/tasks/describe-images-from-doc-replace.yaml
  examples/gemini/python/docs-agent/tasks/describe-images-from-doc.yaml
Owners: @nickvander, @rundong08, @Meggin, @kyolee415

docs-agent fixes (#612)
  examples/gemini/python/docs-agent/docs/concepts.md
  examples/gemini/python/docs-agent/docs/create-a-new-task.md
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/chatui.py
  examples/gemini/python/docs-agent/docs_agent/interfaces/cli/cli_admin.py
  examples/gemini/python/docs-agent/docs_agent/interfaces/cli/cli_helpme.py
  examples/gemini/python/docs-agent/docs_agent/preprocess/splitters/fidl_splitter.py
  examples/gemini/python/docs-agent/docs_agent/preprocess/splitters/markdown_splitter.py
  examples/gemini/python/docs-agent/docs_agent/storage/google_semantic_retriever.py
  examples/gemini/python/docs-agent/docs_agent/utilities/config.py
  examples/gemini/python/docs-agent/scripts/extract_replace_image_alt_text.py
  examples/gemini/python/docs-agent/scripts/update_files_from_yaml.py
  examples/gemini/python/docs-agent/tasks/describe-images-and-replace.yaml
  examples/gemini/python/docs-agent/tasks/describe-images-from-doc-replace.yaml
  examples/gemini/python/docs-agent/tasks/describe-images-from-doc.yaml
Owners: @nickvander, @rundong08, @Meggin, @kyolee415

Update Vertex AI links
  site/en/gemma/docs/embeddinggemma/fine-tuning-embeddinggemma-with-sentence-transformers.ipynb
  site/en/gemma/docs/embeddinggemma/inference-embeddinggemma-with-sentence-transformers.ipynb
Owners: @google/generative-ai-site-team
