Repository google/generative-ai-docs, changes with the owners that CODEOWNERS names for each.
All owners: @google/generative-ai-admin, @nickvander, @rundong08, @Meggin, @kyolee415, @khanhnwin, @joefernandez, @shilpakancharla, @markmcd, @google/ai-studio-team, @google/generative-ai-site-team

CODEOWNERS:

* @google/generative-ai-admin

# demos/palm/web/talking-character
# demos/palm/web/mood-food
# demos/palm/web/travel-planner
# demos/palm/web/list-it
# demos/palm/web/quick-prompt
# demos/palm/web/textfx
examples/gemini/python/docs-agent @nickvander @rundong08 @Meggin @kyolee415
examples/gemini/node/flutter_theme_agent/ @khanhnwin @joefernandez
demos/palm/node/pipet-code-agent @joefernandez @shilpakancharla @markmcd

templates/ @google/ai-studio-team
site/ @google/generative-ai-site-team

[python] Update the Python version to `3.12.8` and fix syntax errors
  examples/gemini/python/docs-agent/docs_agent/interfaces/cli/cli_helpme.py
  examples/gemini/python/docs-agent/docs_agent/memory/logging.py
  examples/gemini/python/docs-agent/docs_agent/preprocess/splitters/markdown_splitter.py
  examples/gemini/python/docs-agent/poetry.lock
  examples/gemini/python/docs-agent/pyproject.toml
Owners: @nickvander, @rundong08, @Meggin, @kyolee415

[Docs Agent] Update the Python version to `3.12.8` and fix syntax errors (#553)
  examples/gemini/python/docs-agent/docs_agent/interfaces/cli/cli_helpme.py
  examples/gemini/python/docs-agent/docs_agent/memory/logging.py
  examples/gemini/python/docs-agent/docs_agent/preprocess/splitters/markdown_splitter.py
  examples/gemini/python/docs-agent/poetry.lock
  examples/gemini/python/docs-agent/pyproject.toml
Owners: @nickvander, @rundong08, @Meggin, @kyolee415

Update document_search.ipynb
  site/en/gemini-api/tutorials/document_search.ipynb
Owners: @google/generative-ai-site-team

Update route handler to handle empty questions
  examples/gemini/python/docs-agent/docs_agent/interfaces/chatbot/chatui.py
Owners: @nickvander, @rundong08, @Meggin, @kyolee415

moving, updating, and deleting notebooks
  site/en/gemma/docs/core/distributed_tuning.ipynb
  site/en/gemma/docs/core/keras_inference.ipynb
  site/en/gemma/docs/core/lora_tuning.ipynb
  site/en/gemma/docs/core/pytorch_gemma.ipynb
  site/en/gemma/docs/jax_finetune.ipynb
  site/en/gemma/docs/jax_inference.ipynb
Owners: @google/generative-ai-site-team

update, move, add and delete notebooks
  site/en/gemma/docs/core/distributed_tuning.ipynb
  site/en/gemma/docs/core/gemma_library.ipynb
  site/en/gemma/docs/core/keras_inference.ipynb
  site/en/gemma/docs/core/lora_tuning.ipynb
  site/en/gemma/docs/core/pytorch_gemma.ipynb
Owners: @google/generative-ai-site-team

Nb updates (#556)
  site/en/gemma/docs/core/distributed_tuning.ipynb
  site/en/gemma/docs/core/gemma_library.ipynb
  site/en/gemma/docs/core/keras_inference.ipynb
  site/en/gemma/docs/core/lora_tuning.ipynb
  site/en/gemma/docs/core/pytorch_gemma.ipynb
  site/en/gemma/docs/jax_finetune.ipynb
  site/en/gemma/docs/jax_inference.ipynb
Owners: @google/generative-ai-site-team

Update notebooks.yml
  .github/workflows/notebooks.yml
Owners: @google/generative-ai-admin

Add files via upload
  site/en/gemma/docs/core/huggingface_text_finetune_qlora.ipynb
Owners: @google/generative-ai-site-team

format
  site/en/gemma/docs/core/huggingface_text_finetune_qlora.ipynb
Owners: @google/generative-ai-site-team

lnit
  site/en/gemma/docs/core/huggingface_text_finetune_qlora.ipynb
Owners: @google/generative-ai-site-team

Adding ShieldGemma 2 notebook to Responsible AI Toolkit docs
  site/en/responsible/docs/safeguards/shieldgemma2_on_huggingface.ipynb
Owners: @google/generative-ai-site-team

Addressing review feedback
  site/en/responsible/docs/safeguards/shieldgemma2_on_huggingface.ipynb
Owners: @google/generative-ai-site-team

fixing linter errors
  site/en/responsible/docs/safeguards/shieldgemma2_on_huggingface.ipynb
Owners: @google/generative-ai-site-team

Adding ShieldGemma 2 notebook to Responsible AI Toolkit docs (#564)
  site/en/responsible/docs/safeguards/shieldgemma2_on_huggingface.ipynb
Owners: @google/generative-ai-site-team

add core
  site/en/gemma/docs/core/huggingface_text_finetune_qlora.ipynb
Owners: @google/generative-ai-site-team

Add huggingface_text_finetune_qlora (#559)
  site/en/gemma/docs/core/huggingface_text_finetune_qlora.ipynb
Owners: @google/generative-ai-site-team

Add tutorial for custom metadata extraction from pdfs (#341)
  site/en/docs/pdf_parsing_for_semantic_retrieval_systems.ipynb
Owners: @google/generative-ai-site-team

Fix the AppEngine deployment runtime as NodeJS (#97)
  demos/palm/web/travel-planner/app.yaml
Owners: @google/generative-ai-admin

Revert "Clean up labels + automation (#172)"
  .github/labeler.yml
  .github/workflows/stale.yml
Owners: @google/generative-ai-admin

Fix typos
  site/en/gemini-api/tutorials/anomaly_detection.ipynb
  site/en/gemini-api/tutorials/clustering_with_embeddings.ipynb
  site/en/gemini-api/tutorials/text_classifier_embeddings.ipynb
Owners: @google/generative-ai-site-team

docs: Add batched embeddings example with current model names (Fixes #147)
  examples/gemini/python/README.md
  examples/gemini/python/batched_embeddings.py
Owners: @google/generative-ai-admin

docs: Add working batched embeddings example (Fixes #147)
  examples/gemini/python/batched_embeddings.py
Owners: @google/generative-ai-admin

Fix the AppEngine deployment runtime as NodeJS (#96)
  demos/palm/web/travel-planner/app.yaml
  examples/gemini/python/README.md
Owners: @google/generative-ai-admin

Add batched embeddings example
  examples/gemini/python/README.md
  examples/gemini/python/batched_embeddings.py
Owners: @google/generative-ai-admin

Update to kerasHub package
  site/en/gemma/docs/core/lora_tuning.ipynb
Owners: @google/generative-ai-site-team

fix(docs): correct multiple typos in pdf_parsing_for_semantic_retrieval_systems.ipynb
  site/en/docs/pdf_parsing_for_semantic_retrieval_systems.ipynb
Owners: @google/generative-ai-site-team

fix(docs): correct typos and clarify docstrings in react_gemini_prompting.ipynb
  site/en/docs/react_gemini_prompting.ipynb
Owners: @google/generative-ai-site-team

fix(examples): correct formatting, grammar, and MMLU acronym in llama_chroma_qa example
  examples/gemini/python/llamaindex/Gemini_LlamaIndex_QA_Chroma_WebPageReader.ipynb
Owners: @google/generative-ai-admin

fix(examples): correct WebBaseLoader typo in LangChain QA examples
  examples/gemini/python/langchain/Gemini_LangChain_QA_Chroma_WebLoad.ipynb
  examples/gemini/python/langchain/Gemini_LangChain_QA_Pinecone_WebLoad.ipynb
Owners: @google/generative-ai-admin

fix(examples): correct typo specifying in Qdrant_similarity_search example
  examples/gemini/python/vectordb_with_qdrant/Qdrant_similarity_search.ipynb
Owners: @google/generative-ai-admin

fix(docs): correct typo essentially in search_reranking_using_embeddings.ipynb
  site/en/docs/search_reranking_using_embeddings.ipynb
Owners: @google/generative-ai-site-team

fix(docs): correct typo essentially in search_reranking_using_embeddings.ipynb (#578)
  site/en/docs/search_reranking_using_embeddings.ipynb
Owners: @google/generative-ai-site-team

fix(examples): correct typo in chat_calculator comment
  site/en/examples/chat_calculator.ipynb
Owners: @google/generative-ai-site-team

Updating Keras notebooks to Gemma 3
  site/en/gemma/docs/core/keras_inference.ipynb
  site/en/gemma/docs/core/lora_tuning.ipynb
Owners: @google/generative-ai-site-team

Notebook lint fix
  site/en/gemma/docs/core/keras_inference.ipynb
Owners: @google/generative-ai-site-team

Updating Keras notebooks to Gemma 3 (#580)
  site/en/gemma/docs/core/keras_inference.ipynb
  site/en/gemma/docs/core/lora_tuning.ipynb
Owners: @google/generative-ai-site-team

Add Hugging Face Inference guide notebook
  site/en/gemma/docs/core/huggingface_inference.ipynb
Owners: @google/generative-ai-site-team

Add Hugging Face Inference guide notebook (#581)
  site/en/gemma/docs/core/huggingface_inference.ipynb
Owners: @google/generative-ai-site-team

Update lora_tuning.ipynb
  site/en/gemma/docs/core/lora_tuning.ipynb
Owners: @google/generative-ai-site-team
